.button {
    padding-block: 0.4em;
    padding-inline: 2em;
    font-size: 1.2rem;
    border: none;
    background-color: black;
    color: #fff;
    text-transform: uppercase;
    &:hover {
        background-color: #fff;
        color: #000;
        outline: 1px solid currentColor;
    }
}
