.formInput_wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    & > .formLabel {
        text-transform: capitalize;
        color: grey;
        position: absolute;
        top: 43%;
    }

    margin-bottom: 2rem;
}

.formInput {
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;
    padding-block: 0.6em;

    &:focus {
        outline: none;
    }
}
.formLabel {
    font-size: 0.9rem;
    margin-bottom: 0.2em;
    text-transform: capitalize;
    color: grey;
    position: absolute;
    top: 43%;
    transition: top 0.3s, font-size 0.2s;
    margin-left: 0.2rem;
    pointer-events: none;
}

.formInput:focus ~ .formLabel {
    top: -30%;
    font-size: 0.8rem;
    color: #000;
}
