.formInput_wrap {
    --color: red;
    --animation-duration: 0.3s;
    --animation-it-count: 10;
    --border-color: grey;
    display: flex;
    flex-direction: column;
    position: relative;
    & > .formLabel {
        text-transform: capitalize;
        color: grey;
        position: absolute;
        top: 23%;
    }

    margin-bottom: 2rem;
}

.formInput {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--border-color);
    padding-block: 0.6em;
    //  animation: shake 0.5s infinite;
    &:focus {
        outline: none;
    }
}
.formLabel {
    font-size: 0.9rem;
    margin-bottom: 0.2em;
    text-transform: capitalize;
    color: grey;
    position: absolute;
    top: 43%;
    transition: top 0.3s, font-size 0.2s;
    margin-left: 0.2rem;
    pointer-events: none;
}

.shrink,
.filled ~ .formLabel,
.formInput:focus ~ .formLabel {
    top: -30%;
    font-size: 0.8rem;
    color: #000;
}

.invalid_feedback {
    color: var(--color);
}

@keyframes shake {
    0% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(5px);
    }
}
