@import "animations";
@import "reset";

.invalid__state--form {
    --invalid-text-clr: red;
    --invalid-input-border: 1px solid var(--invalid-text-clr);
    --animation-duration: 0.3s;
    // --animation-easing:;
    font-size: 0.8rem;
    color: var(--invalid-text-clr);
}

.btn--link {
    font-size: 1.3rem;
    font-weight: 600;
    color: #333;
    border: none;
    background: none;
    cursor: pointer;
    &:hover,
    &:active {
        color: rebeccapurple;
    }
}
